<input class='recipe_name' value="{{this.name}}" placeholder="recipe name">
	
	{{#ifAuthorized this.author.id}}
	<button class="btn edit_recipe"><i class="icon-ok"></i></button>
	{{/ifAuthorized}}
</input><br />
<!--<p><b>Author:</b> {{this.author.username}}</p>-->
<textarea class='recipe_description' placeholder="description">{{{this.description}}}</textarea><br />


<div class="recipe_info">
	<span>Servings: </span><input class='recipe_servings' value="{{this.servings}}" />
	<br />
	<span>Active Time: </span><input class='recipe_active_time'  value="{{this.active_time}}" /><br />
	<span>Inactive Time: </span><input class='recipe_inactive_time' value="{{this.inactive_time}}" /><br />
</div>
<hr>
<h3>Ingredients</h3>
<div class="recipe_ingredients"></div>
<hr>
<h3>Steps</h3>
<div class="recipe_steps"></div>